# Site
name: 'amoeric Blogs'
description: '一個在高雄的 Ruby On Rails 工程師，從 2019 年三月報名五倍紅寶石第一屆 Astrocamp 至今都在寫 Ruby On Rails。'
logo: 'assets/images/logo.png'
favicon: 'assets/images/favicon.ico'
baseurl: ''
disqus: ''
email: ''

include: ["_pages"]
permalink: /:title/

# Plugins
plugins:
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-paginate
  - jekyll-seo-tag

authors:
    amoeric:
      name:           amoeric
      site:           https://amoeric.github.io
      avatar:         /assets/images/amoeric.jpg
      bio:            "一個在高雄的 Ruby On Rails 工程師，從 2019 年三月報名五倍紅寶石第一屆 Astrocamp 至今都在寫 Ruby On Rails。"
      email:
      twitter:

# Defaults
defaults:

  # all posts
  - scope:
      path: "_posts"
    values:
      layout: post
      author: amoeric
      avatar: /assets/images/amoeric.jpg

  # all pages
  - scope:
      path: "_pages"
    values:
      layout: page

# Syntax
markdown: kramdown
highlighter: rouge

# Paginate
paginate: 10

# Exclude metadata and development time dependencies
exclude: [README.markdown, package.json, grunt.js, Gruntfile.js, Gruntfile.coffee, node_modules, minimal-mistakes-jekyll.gemspec, CHANGELOG.md, docs, test, screenshot.png, screenshot-layouts.png]
