---
title: "Home"
layout: default
pagination:
    enabled: true
description: "amoeric Blogs - Ruby on Rails 工程師的技術部落格"
---


<div class="container px-3 px-md-0">

{% if page.url == "/" %}

<!-- Begin post excerpts, let's highlight the first 4 posts on top -->
<div class="row">

    <!-- latest post -->
    {% assign latest_post = site.posts[0] %}
    <div class="col-12 col-md-6 mb-4">
    <div class="card border-0 box-shadow">
    <a href="{{site.baseurl}}{{latest_post.url}}">
    <div class="topfirstimage rounded" style="background-image: url({% if latest_post.image contains "://" %}{{ latest_post.image }}{% else %} {{site.baseurl}}/{{ latest_post.image}}{% endif %}); height: 200px; background-size: cover; background-repeat: no-repeat; background-position: center;"></div>
    </a>
    <div class="card-body px-0 pb-0 d-flex flex-column align-items-start">
    <h2 class="h5 font-weight-bold">
    <a class="text-dark" href="{{site.baseurl}}{{latest_post.url}}">{{ latest_post.title }}</a>
    </h2>
    <p class="excerpt d-none d-md-block">
        {{ latest_post.excerpt | strip_html | strip_newlines | truncate: 136 }}
    </p>
    <div>
        <small class="text-muted">
            {{ latest_post.date | date: '%b %d, %Y' }}
        </small>
    </div>
    </div>
    </div>
    </div>

    <div class="col-12 col-md-6">

        <!-- second latest post -->
        {%- assign second_post = site.posts[1] -%}
        <div class="mb-3 row align-items-center">
                {% if second_post.image %}
                <div class="col-4">
                <a href="{{site.baseurl}}{{second_post.url}}">
                 <img class="w-100 rounded" src="{% if second_post.image contains "://" %}{{ second_post.image }}{% else %}{{ site.baseurl }}/{{ second_post.image }}{% endif %}" alt="{{ second_post.title }}">
                </a>
                </div>
                {% endif %}
                <div class="col-8">
                    <h2 class="mb-2 h6 font-weight-bold">
                    <a class="text-dark" href="{{site.baseurl}}{{second_post.url}}">{{ second_post.title }}</a>
                    </h2>
                    <small class="text-muted">
                        {{ second_post.date | date: '%b %d, %Y' }}
                    </small>
                </div>
            </div>

        <!-- third latest post -->
        {%- assign third_post = site.posts[2] -%}
        <div class="mb-3 row align-items-center">
                {% if third_post.image %}
                <div class="col-4">
                <a href="{{site.baseurl}}{{third_post.url}}">
                 <img class="w-100 rounded" src="{% if third_post.image contains "://" %}{{ third_post.image }}{% else %}{{site.baseurl}}/{{ third_post.image }}{% endif %}" alt="{{ third_post.title }}">
                </a>
                </div>
                {% endif %}
                <div class="col-8">
                    <h2 class="mb-2 h6 font-weight-bold">
                    <a class="text-dark" href="{{site.baseurl}}{{third_post.url}}">{{ third_post.title }}</a>
                    </h2>
                    <small class="text-muted">
                        {{ third_post.date | date: '%b %d, %Y' }}
                    </small>
                </div>
            </div>

        <!-- fourth latest post -->
        {%- assign fourth_post = site.posts[3] -%}
        <div class="mb-3 row align-items-center">
                {% if fourth_post.image %}
                <div class="col-4">
                <a href="{{site.baseurl}}{{fourth_post.url}}">
                <img class="w-100 rounded" src="{% if fourth_post.image contains "://" %}{{ fourth_post.image }}{% else %}{{site.baseurl}}/{{ fourth_post.image }}{% endif %}" alt="{{ fourth_post.title }}">
                </a>
                </div>
                {% endif %}
                <div class="col-8">
                    <h2 class="mb-2 h6 font-weight-bold">
                    <a class="text-dark" href="{{site.baseurl}}{{fourth_post.url}}">{{ fourth_post.title }}</a>
                    </h2>
                    <small class="text-muted">
                        {{ fourth_post.date | date: '%b %d, %Y' }}
                    </small>
                </div>
            </div>

    </div>

</div>

<!-- Sticky - add sticky tag to the post you want to highlight here - tags: [sticky] -->
{% for post in site.posts %}
{% if post.tags contains "sticky" %}
<div class="jumbotron jumbotron-fluid jumbotron-home pt-0 pb-0 mt-3 mb-2rem bg-lightblue position-relative">
    <div class="p-3 p-md-4 h-100 tofront">
        <div class="row justify-content-between">
            <div class="col-12 col-md-6 pt-3 pb-3 pr-lg-4 align-self-center">
                <h1 class="mb-3 h3">{{post.title}}</h1>
                <p class="mb-3 d-none d-md-block">
                    {{ post.excerpt | strip_html | strip_newlines | truncate: 136 }}
                </p>
                <a href="{{site.baseurl}}{{post.url}}" class="btn btn-dark btn-sm">Read More</a>
            </div>
            <div class="col-md-6 d-none d-md-block pr-0" style="background-size:cover;background-image:url({{site.baseurl}}/{{ post.image }});">
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}



{% endif %} <!--endif page url is / -->



<!-- Now the rest of the posts with the usual loop but with an offset:4 on the first page so we can skeep the first 4 posts displayed above -->

<div class="row mt-3">

    <div class="col-12 main-loop">

        <h4 class="font-weight-bold spanborder"><span>All Stories</span></h4>


        {% for post in paginator.posts %}

            {% include main-loop-card.html %}

        {% endfor %}

        <div class="mt-5 d-flex justify-content-center">
         <!-- Pagination links -->
            {% if paginator.total_pages > 1 %}
            <ul class="pagination flex-wrap justify-content-center">
              {% if paginator.previous_page %}
                <li class="page-item"><a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo;</a></li>
              {% else %}
                <li class="page-item disabled"><span class="prev page-link">&laquo;</span></li>
              {% endif %}

              {% for page in (1..paginator.total_pages) %}
                {% if page == paginator.page %}
                <li class="page-item disabled"><span class="webjeda page-link">{{ page }}</span></li>
                {% elsif page == 1 %}
                <li class="page-item"><a class="page-link" href="{{site.baseurl}}/">{{ page }}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
                {% endif %}
              {% endfor %}

              {% if paginator.next_page %}
                <li class="page-item"><a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&raquo;</a></li>
              {% else %}
                <li class="page-item disabled"><span class="next page-link">&raquo;</span></li>
              {% endif %}
            </ul>
            {% endif %}
        </div>

    </div>

</div>



</div>
