<!-- Giscus Comments -->
<div id="comments" class="mt-5">
    <h4 class="font-weight-bold mb-4">留言</h4>
    <script src="https://giscus.app/client.js"
        data-repo="amoeric/amoeric.github.io"
        data-repo-id="R_kgDOQoKokg"
        data-category="Announcements"
        data-category-id="DIC_kwDOQoKoks4CzyAw"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="light"
        data-lang="zh-TW"
        crossorigin="anonymous"
        async>
    </script>
</div>