---
layout: default
---

<div class="page-wrapper">
<h1 class="page-title">{{page.title}}</h1>
<div class="page-sidebar-layout">
    <div>
    {% if page.image %}
    <img style="border-radius: var(--radius-lg); margin-bottom: var(--space-6);" src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ page.image | absolute_url }}{% endif %}" alt="{{ page.title }}">
    {% endif %}
    <div class="page-content">
        {{ content }}
        <!-- Comments -->
        {% if page.comments == true %}
        {% include comments.html %}
        {% endif %}
    </div>
    </div>
    <div>
        {% include sidebar.html %}
    </div>
</div>
</div>
